* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
}

.nav-logo {
    height: 50px;
    width: 120px;
}

.logo {
    background-image: url("pictures/amazonlogo1.jpg");
    background-size: cover;
    height: 50px;
    width: 120px;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}