* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 120px;
    
}

.logo {
    background-image: url("pictures/amazonlogo1.jpg");
    background-size: cover;
    height: 50px;
    width: 120px;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/* box-2 */

.add-first{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 23px;
}

.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}

/* Box 3 */

.search-bar{
    display: flex;
    justify-content: space-evenly;
    background-color: #febd68;
    width: 750px;
    height: 40px;
    border-radius: 4px;
    margin-left: 5px;
    
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    border: none;
    font-size: 1rem;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0f1111;  
}

/* Box 4 & Box 5*/

span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}


/* Box 6 */

.nav-cart i{
    font-size: 30px;
}

/* Panel */

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: #f3f3f3;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p{
    display: inline;
    margin-left: 10px;
}

.panel-ops {
    width: 80%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/* Heroposter */

.heroimage {
    background-image: url("pictures/Heroposter.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.heromsg {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 0.85rem;
    width: 97%;
    margin-bottom: 25px;

}

.heromsg a {
    color: #007158;
}
/* OWN */
.content {
    
    background-color: #f5b2b2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 410px;
    width: 100%;
    
}

.box {
    height: 400px;
    width: 350px;
    
    background-color: white;
}

/* box content */

.box-image{
    height: 300px;
    background-size: cover;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    color: #007158;
}

.box-content h2{
    margin-top: 6px;
    text-align: center;
}

/* footer */

.foot-panel1{
    background-color: #37475A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 13px;
    
}